<h1>Create a Post</h1>
<form id='form'>
<input id='title' class="input" type="text" placeholder="Title">
<input id='contents' class="input" type="text" placeholder="Hello World!">

<button id='submit'>Create Post</button>
</form>

<script src='/js/addPost.js'></script>