<h1>Create a Post</h1>
<input id='title' class="input" type="text" placeholder="Title">
<textarea id='contents' class="textarea" placeholder="e.g. Hello world"></textarea>

<button id='submit'>Create Post</button>

<script src="/js/addPost.js"></script>