<form id='signUpForm' class="box">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input id='signUpUsername' class="input" type="input">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id='signUpPw' class="input" type="password" placeholder="********">
    </div>
  </div>
  <button id='submit' type='submit' class="button is-primary">Sign Up</button>
</form>

<script src='js/signup.js'></script>